div.button {

    >a {
        display: inline-block;
        width: 36rem;
        height: 10rem;
        background-color: aliceblue;
        text-decoration: none;
        color: #000000;
        overflow: hidden;


        >span {
            line-height: 10rem;
            text-align: center;
            display: block;
            font-size: 3rem;
            transition: 0.3s linear;
        }

    }

    >a:hover span {
        transform: translateY(-10rem);
    }
}