section.footer-fluid {
    height: 8rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    background-color: #1A1A1A;
    box-sizing: border-box;
    

    div.coppy {
        color: #71737F;
    }

    div.authors {
        display: flex;
        justify-content: center;
        align-content: center;
        
        a {
            color: #1A9C60;
            text-decoration: none;
            padding: 1rem;
        }
    }
}