@font-face {
  font-family: 'fontello';
  src: url("../font/font/fontello.eot?28830010");
  src: url("../font/font/fontello.eot?28830010#iefix") format("embedded-opentype"), url("../font/font/fontello.woff2?28830010") format("woff2"), url("../font/font/fontello.woff?28830010") format("woff"), url("../font/font/fontello.ttf?28830010") format("truetype"), url("../font/font/fontello.svg?28830010#fontello") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?28830010#fontello') format('svg');
  }
}
*/
* {
  font-family: 'Raleway', sans-serif;
}

html {
  font-size: 10px;
}

html body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container-fluid {
  width: 100%;
}

.container {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

section.navbar-fluid {
  background-color: #fff;
  position: fixed;
  -webkit-box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.35);
          box-shadow: 0px 3px 7px 0px rgba(50, 50, 50, 0.35);
  top: 0;
}

section.navbar-fluid div.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 6rem;
}

section.navbar-fluid div.navbar a img {
  height: 4rem;
}

section.navbar-fluid .hidden {
  display: none;
}

header.header-top-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: calc(100vh - 6rem);
  margin-top: 6rem;
  background-image: -webkit-gradient(linear, left top, right top, from(#3dccbc), color-stop(#2bc2c0), color-stop(#23b8c1), color-stop(#28adc0), to(#33a2bd));
  background-image: linear-gradient(to right, #3dccbc, #2bc2c0, #23b8c1, #28adc0, #33a2bd);
}

header.header-top-fluid .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header.header-top-fluid div:nth-child(2) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 4rem;
  color: #ffffff;
}

header.header-top-fluid h2 {
  margin: 0 0 2rem 0;
  font-size: 4rem;
  font-weight: 200;
}

header.header-top-fluid p {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 400;
}

div.info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

div.info div.naglowek-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50%;
  margin: 5rem 0 5rem 0;
}

div.info div.naglowek-info > h2 {
  font-size: 4rem;
  font-weight: 200;
}

div.info div.naglowek-info > p {
  font-size: 1.5rem;
  font-weight: 400;
}

div.info div.artykuly-fluide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 5rem;
  width: 100rem;
}

div.info div.artykuly-fluide div.artykul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

div.info div.artykuly-fluide div.artykul > article {
  line-height: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 2rem;
  width: 85%;
  height: 27rem;
  background-color: aliceblue;
  -webkit-box-shadow: 10px 10px 59px -2px #707070;
          box-shadow: 10px 10px 59px -2px #707070;
}

div.info div.artykuly-fluide div.artykul > article > div.naglowek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

div.info div.artykuly-fluide div.artykul > article > div.naglowek > span {
  font-family: 'fontello';
  margin-top: 12px;
  margin-right: 1rem;
  font-size: 2rem;
  color: aquamarine;
}

div.info div.artykuly-fluide div.artykul > article h3 {
  font-size: 1.5rem;
}

div.info div.artykuly-fluide div.artykul:nth-child(2) {
  margin-top: 150px;
}

div.button {
  margin: 3rem 0 3rem 0;
}

div.button > a {
  display: inline-block;
  width: 26rem;
  height: 5rem;
  background-color: #00FFA3;
  text-decoration: none;
  color: #000000;
  overflow: hidden;
}

div.button > a > span {
  line-height: 5rem;
  text-align: center;
  display: block;
  font-size: 3rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

div.button > a:hover span {
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

div.button2 {
  margin: 3rem 0 3rem 0;
}

div.button2 > a {
  display: inline-block;
  width: 26rem;
  height: 5rem;
  background-color: #ffffff;
  text-decoration: none;
  color: #55A9BD;
  overflow: hidden;
}

div.button2 > a > span {
  line-height: 5rem;
  text-align: center;
  display: block;
  font-size: 3rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

div.button2 > a:hover span {
  -webkit-transform: translateY(-5rem);
          transform: translateY(-5rem);
}

section.note-fluid {
  background-color: #F6F6F6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 10rem;
}

section.note-fluid div.naglowek > h2 {
  text-align: center;
  font-size: 4rem;
  font-weight: 200;
}

section.note-fluid div.naglowek > p {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 400;
}

section.note-fluid div.zbior {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

section.note-fluid div.zbior div.cytat {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

section.note-fluid div.zbior div.cytat div.kuleczka {
  height: 10rem;
  width: 10rem;
  background-color: #737581;
  border-radius: 50%;
}

section.note-fluid div.zbior div.cytat article {
  font-size: 2rem;
  margin-left: 5rem;
  width: 40rem;
  line-height: 3rem;
}

section.note-fluid div.zbior div.cytat div.tekst {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.note-fluid div.zbior div.cytat div.tekst > p {
  margin-left: 5rem;
  font-size: 1.5rem;
  font-weight: bold;
}

.brands-fluid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 5rem;
  padding: 3rem 0 3rem 0;
  background-color: #F6F6F6;
}

.brands-fluid > img {
  height: 4rem;
}

section.products-fluid {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.products-fluid div.naglowek {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.products-fluid div.naglowek > h2 {
  font-size: 4rem;
  font-weight: 200;
}

section.products-fluid div.naglowek > p {
  font-size: 1.5rem;
  font-weight: 400;
}

section.products-fluid div.podelko {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 5rem;
}

section.products-fluid div.podelko div.prostokat1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30rem;
  height: 50rem;
}

section.products-fluid div.podelko div.prostokat1 div.kwadrat1 {
  height: 24rem;
  width: 30rem;
  background-color: #E1A87B;
}

section.products-fluid div.podelko div.prostokat1 div.kwadrat2 {
  height: 24rem;
  width: 30rem;
  background-color: #A69DA0;
}

section.products-fluid div.podelko div.prostokat2 {
  width: 30rem;
  height: 50rem;
  background-color: #E1DDDA;
  margin: 0 5rem;
}

section.products-fluid div.podelko div.prostokat3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 30rem;
  height: 50rem;
}

section.products-fluid div.podelko div.prostokat3 div.kwadrat3 {
  height: 24rem;
  width: 30rem;
  background-color: #BFEEB8;
}

section.products-fluid div.podelko div.prostokat3 div.kwadrat4 {
  height: 24rem;
  width: 30rem;
  background-color: #8FA387;
}

div.button3 {
  margin: 3rem 0 3rem 0;
  border: 3px solid #ffffff;
}

div.button3 > a {
  display: inline-block;
  width: 15rem;
  height: 4rem;
  background-color: #262626;
  text-decoration: none;
  color: #ffffff;
  overflow: hidden;
}

div.button3 > a > span {
  line-height: 4rem;
  text-align: center;
  display: block;
  font-size: 2rem;
  -webkit-transition: 0.3s linear;
  transition: 0.3s linear;
}

div.button3 > a:hover span {
  -webkit-transform: translateY(-4rem);
          transform: translateY(-4rem);
}

section.contact-fluide {
  padding-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #262626;
}

section.contact-fluide div.kontakt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
}

section.contact-fluide div.kontakt2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

section.contact-fluide div.kontakt2 div.kolumna1 {
  width: 20rem;
  margin: 5rem;
  color: white;
}

section.contact-fluide div.kontakt2 div.kolumna1 > h3 {
  font-size: 1.7rem;
}

section.contact-fluide div.kontakt2 div.kolumna1 > p {
  font-size: 1.1rem;
  color: #71737F;
}

section.contact-fluide div.kontakt2 div.kolumna2 {
  width: 20rem;
  margin: 5rem;
  color: #1A9C60;
  font-size: 1.1rem;
}

section.contact-fluide div.kontakt2 div.kolumna3 {
  width: 20rem;
  margin: 5rem;
  color: #1A9C60;
  font-size: 1.1rem;
}

section.contact-fluide div.kontakt2 div.kolumna4 {
  background-color: #000000;
  height: 5rem;
  width: 20rem;
  margin: 5rem;
  font-size: 1.1rem;
}
/*# sourceMappingURL=main.css.map */